# variabls

In [1]:
student_count = 1000
print(student_count)

1000

In [2]:
rating  = 4.9
type(rating)

float

In [3]:
my_name_is_chinmay = false # python is case sensitive
print(my_name_is_chinmay)

NameError: name 'false' is not defined

In [4]:
my_name_is_chinmay = False
print(my_name_is_chinmay)

False

In [6]:
my_name_is_chinmay = False
type(my_name_is_chinmay)

bool

# string

In [23]:
course = "python for beginner" #String must be in single quotes or double quotes.
message = '''i'm chinmay 
die hard fan of allu arjun     
big fan'''       #Sometimes we use triple quotes beacuse we want to include in the body of an email.

print(message)
print(len(course))
print(len(message))

i'm chinmay
die hard fan of allu arjun
big fan
19
47

In [125]:
name = "chinu"
print(type(name))

<class 'str'>

In [128]:
greeting = "good morning, "
name = "chinmaya "
print(greeting +  name)

good morning, chinmaya

In [129]:
greeting = "good morning, "
name = "chinmaya "
c = greeting +  name
print(c)

good morning, chinmaya

In [10]:
int = '9' ## bad practice // cant take keyword as vaeriable name...
print(int)
type(int)

9

str

# string slicing

In [67]:
course = "python for"
print(course[-10:-6])
print(course[5:-11:-1])
print(course[1:-5])
print(course[1:3:6])
print(course[-1:-8:-6])

pyth
nohtyp
ytho
y
rh

In [132]:
name = "chinu"
print(name[3])
 # name[3] = "d"   str does not support item assignment...
    ## string is immutable

n

In [139]:
name = "chinu"
print(name[1:4])
print(name[0:3])
print(name[:4]) #same as name[0:4]
print(name[0:]) #same as name[0:5] or name[0:len]
print(name[-4:-1]) #same as name[1:4]

hin
chi
chin
chinu
hin

# slicing with skip value

In [147]:
name = "chinuisgood"
print(name[1:4:1])
print(name[1:4:2])
print(name[0::2])
print(name[0::3])

hin
hn
ciusod
cnso

In [152]:
word = "amazing"
print(word[1:6:2])
print(word[1:6:3])
print(word[0:6:3]) #[0:6]means 0 included...but 6 is not included ...i.e excluded.
print(word[0:5:2])

mzn
mi
az
aai

In [38]:
course = "python for beginner"
print(course[0])
print(course[3:0:-1])
print(course[0:3])
print(course[3:0])

p
hty
pyt

# string function

In [169]:
story = "once upon a time there is a legend chinmay who love to watch telugu movies upon"
print(len(story))

79

In [156]:
print(story.endswith("movies"))

True

In [157]:
print(story.endswith("telugu"))

False

In [173]:
print(story.count("o"))
print(story.count("e"))
print(story.count("upon"))
print(story.capitalize())
print(story.find("chinmay"))
print(story.find("upon"))#find the words and returns the index of first occurance...
print(story.replace("chinmay","tanmay")) #replace all poccurance....

7
9
2
Once upon a time there is a legend chinmay who love to watch telugu movies upon
35
5
once upon a time there is a legend tanmay who love to watch telugu movies upon

In [35]:
name = "chinmay samantara"
print(name.upper())
print(name.lower())
print(name.title())#capitalize the 1st letter of each word!
print(name.capitalize())#only capitalize the 1st letter of 1st word nothing else!
print(name.find("nta"))
print(name.find("Nta"))
print(name.replace("samantara", "guru"))
print("tara" in name)
print("guru" in name)

CHINMAY SAMANTARA
chinmay samantara
Chinmay Samantara
Chinmay samantara
12
-1
chinmay guru
True
False

# working with numbers

In [69]:
sub = 'my father\'s name is mayadhara samantara'
print(sub)

my father's name is mayadhara samantara

In [71]:
print(abs(8.9))

8.9

In [72]:
print(round(2.3))

2

In [74]:
import math
print(math.ceil(1.9))

2

In [75]:
import math
print(math.factorial(5))

120

In [76]:
import math
print(math.floor(1.9))

1

In [44]:
x = int(input("plz enter a value :"))
y = x + 1
print(y)

plz enter a value :500
501

# numbers

In [37]:
print(10+3)
print(10-3)
print(10*3)
print(10/3)
print(10//3)
print(10%3)
print(10**3)

13
7
30
3.3333333333333335
3
1
1000

# Quiz

In [ ]:


fruit = "apple"
print(fruit[0:-3])
print(bool("False"))
print(10%3)
print(fruit[1:-1])
print(bool(0))

# escape sequence

In [90]:
topic = "python \"for beginner" #back slash an escape chrt
print(topic)

python "for beginner

In [91]:
topic = "python \'for beginner"
print(topic)

python 'for beginner

In [92]:
topic = "python \\for beginner"
print(topic)

python \for beginner

In [93]:
topic = "python \n for beginner"
print(topic)

python
 for beginner

In [175]:
story = "chinu is good.\nhe\t is very good"
print(story)

chinu is good.
he	 is very good

# formatted string

In [98]:
first = "chinmaya"
second = "samantara"
full = first + " "+second
print(full)

chinmaya samantara

In [100]:
first = "chinmaya"
second = "samantara"
full = f"{first} {second}"
print(full)

chinmaya samantara

In [102]:
first = "chinmaya"
second = "samantara"
full = f"{len(first)} {len(second)}"
print(full)

8 9

In [105]:
first = "chinmaya"
second = "samantara"
print(f"{first} {second}")

chinmaya samantara

In [109]:
name = "chinu"
age = 21
print("hello "+ name,"your age is "+str(age))

hello chinu your age is 21

In [112]:
name = "chinu"
age = 21
print("hello {} your age is {}".format(name,age)) #python 2

hello chinu your age is 21

In [114]:
name = "chinu"
age = 21
print(f"hello {name} your age is {age}")   #python 3

hello chinu your age is 21

In [115]:
name = "chinu"
age = 21
print(f"hello {name} your age is {age+2}") #also can do calculating..... #python 3.6

hello chinu your age is 23

# practice set 1

In [2]:
name = input("enter your name\n")
print("good afternoon, " + name)

enter your name
chinu
good afternoon, chinu

In [4]:
name = input("enter your name\n")
greeting = "good afternoon, "
print(greeting  + name)

enter your name
allu
good afternoon, allu

In [5]:
letter = '''
        dear<|Name|>,
        you are selected!
        date: <|Date|>'''
print(letter)

        dear<|Name|>,
        you are selected!
        date: <|Date|>

In [15]:
letter = '''
        Dear <|Name|>,
        Greetings from tcs ninja , i am happy to tell you about your selection
        you are selected!
        Have a great day ahead!
        Thanks and regards,
        Date: <|Date|>
        '''
name = input("enter your name :\n ")
date = input("enter date:\n")
letter = letter.replace("<|Name|>", name)
letter = letter.replace("<|Date|>", date)
print(letter)

enter your name :
 Chinmay Samantara
enter date:
14 August 2021

        Dear Chinmay Samantara,
        Greetings from tcs ninja , i am happy to tell you about your selection
        you are selected!
        Have a great day ahead!
        Thanks and regards,
        Date: 14 August 2021

In [16]:
string = "This is a string with double  spaces"
doubleSpaces = string.find("  ")
print(doubleSpaces)

28

In [19]:
string = "This is a string with double  spaces  ok"
doubleSpaces = string.replace("  "," ")
print(doubleSpaces)

This is a string with double spaces ok

In [25]:
letter = "Dear Chinu, This Python Program is Nice! Thanks"
formatted_letter =  "Dear Chinu,\n\t This Python Program is Nice!\n Thanks"
print(formatted_letter)

Dear Chinu,
	 This Python Program is Nice!
 Thanks